<!doctype html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        TITLE
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="../static/base.js"></script>
    {% block link %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div id="navBar" class="navBar">
            <div class="logo-nav">
                LOGO
            </div>
            <nav id="nav" onclick="mobileCloseNav()" class="navOpenMobile mobile">
                <div class="links">
                    <a href="/">HOME</a>
                    <a href="/gallery">GALLERY</a>
                    <a class="noBorder" href="/contact">CONTACT</a>
                </div>
            </nav>
            <div id="burgerMenu" class="burgerMenu">
                <svg onclick="mobileOpenNav()" xmlns="http://www.w3.org/2000/svg" height="48" width="48">
                    <path d="M6 36v-3h36v3Zm0-10.5v-3h36v3ZM6 15v-3h36v3Z" />
                </svg>
            </div>

        </div>
        <header>
            {% block keyvisual %}
            <h1>keyvisual - base.html</h1>
            {% endblock %}
        </header>
        <!-- FLASH MESSAGES -->
        <!-- TODO Es sind noch bootstrap reste dring vom Beispiel -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor%}
        {% endif%}
        {% endwith %}
        <div class="content-container">
            {% block content %}
            CONTENT
            {% endblock %}
        </div>
        <div class="footer-img-block">
            {% block footerBar %}
            footerBar - base.html
            {% endblock %}
        </div>
        <footer>
            <div class="bgcolor"></div>
            <div class="topSVG">
                <svg width="744" height="304" viewBox="0 0 744 304" fill="#FAFAFA" xmlns="http://www.w3.org/2000/svg">
                    <path d="M208 225.5C138.8 142.7 29.5 101 -16.5 90.5V0.5H760C797.167 96.8333 841.5 258.84 832 253.5C747.5 206 655.5 225.5 552 269.5C448.5 313.5 294.5 329 208 225.5Z" fill="#F5F7FC"/>
                    </svg>                                        
            </div>
            <div class="midSVG">
                <svg width="744" height="258" viewBox="0 0 744 258" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M203.64 119C93.4999 21.5 26.6667 7.33333 -25.5 0C-59.3333 14.8333 -94.0602 72.5 -2.8602 72.5C111.14 72.5 117.64 170 71.6398 145.5C34.8398 125.9 -27.3333 130.667 -41 135.5C-109.333 188.333 -156.6 302.4 -49 238C85.5 157.5 179 253.5 329 254.5C479 255.5 559.5 213.5 640 176.5C704.4 146.9 806 121.167 827 119C877 111.667 934.2 111 847 105C738 97.5 630.077 129.288 572.5 155C441.5 213.5 273.348 180.709 203.64 119Z" fill="white" fill-opacity="0.15"/>
                    </svg>                    
            </div>

            <div class="bottomRightSVG">
                <svg width="257" height="231" viewBox="0 0 257 231" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M311 50C361.786 -24.3531 404.726 10.9484 427 0L427 231L-1.03229e-05 231C7.23915 213.073 49 171 113.5 162C195.692 150.531 272.35 106.586 311 50Z" fill="white" fill-opacity="0.15"/>
                    </svg>                    
            </div>

            <div class="bottomLeftSVG">
                <svg width="273" height="72" viewBox="0 0 273 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M136.5 7.49949C71.3112 -9.73826 5.16667 10.1666 -22.5 24.9999C-163 49.8332 -365.8 100 -7 108C441.5 118 240.5 35 136.5 7.49949Z" fill="white" fill-opacity="0.15"/>
                    </svg>                    
            </div>

            <div class="footer-text">
                <div class="footerCopyright">
                    © 2023 Fabio Cichos
                </div>
                <div class="footerLinks">
                    <a href="/impressum">Impressum</a>
                    {% if user %}
                    {% if user.is_authenticated %}
                    <a href="/settings">SETTINGS</a>
                    <a href="/logout">LOGOUT</a>
                    {% else %}
                    <a href="/login">LOGIN</a>
                    <a href="/sign-up">SIGN-UP</a>
                    {% endif %}
                    {% endif %}
                </div>
                
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>