{% extends "base.html" %}

<!-- BLOCK TITLE -->
{% block title %}
404 - Page not found
{% endblock %}

<!-- BLOCK KEYVISUAL -->
{% block keyvisual %}
<h1>error keyvisual</h1>
{% endblock %}

<!-- BLOCK CONTENT -->
{% block content %}
{% if mes %}
    <div class="error">
        <h1 style="display: flex; align-items: center; justify-content: center;">404 OOPS!</h1>
        <p style="display: flex; align-items: center; justify-content: center;">Page "{{ mes }}" was not found (╯︵╰,)</p>
    </div>
{% else %}
    <div class="error">
        <h1 style="display: flex; align-items: center; justify-content: center;">404 OOPS!</h1>
        <p style="display: flex; align-items: center; justify-content: center;">who told you how to get here? ಠ_ಠ</p>
    </div>
{% endif %}
{% endblock %}

<!-- BLOCK FOOTER-IMG -->
{% block footerBar %}
footerBar
{% endblock %}