{% extends "base.html" %}

<!-- BLOCK TITLE -->
{% block title %}
GALLERY
{% endblock %}

<!-- BLOCK KEYVISUAL -->
{% block keyvisual %}
<h1>GALLERY keyvisual</h1>
{% endblock %}

<!-- BLOCK CONTENT -->
{% block content %}
<span class="post-container">
    {% for d, p in post_list.items() %}
        <div>
            <a href="gallery?artwork={{ p.title }}">
                <img src="{{ 'static/uploads/' + p.file_name + '_preview.jpg'}}" alt="{{ 'a picture of ' + p.title }}"><br>
            </a>
            Title: {{ p.title }}<br>
            {% set date = p.date|string %}
            Date: {{ date[6:8] }} {{ date[4:6] }} {{ date[0:4] }} <br>
            User: {{ p.user_name }}<br>
            post_type: {{ p.post_type }}
        </div>
    {% endfor %}
</span>
{% endblock %}

<!-- BLOCK FOOTER-IMG -->
{% block footerBar %}
footerBar
{% endblock %}