{% extends "base.html" %}

<!-- BLOCK TITLE -->
{% block title %}
Home
{% endblock %}

<!-- BLOCK KEYVISUAL -->
{% block keyvisual %}
<span class="keyvisual-bar">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1926 189"><defs><style>.cls-1{fill:#fafafa;}</style></defs><g id="Ebene_1" data-name="Ebene 1"><path class="cls-1" d="M1364,36.32c-343.5,37.57-468,99.17-812,99.17-297,0-501.65-73.93-552-94.12V189H1926V36.32S1707.5-1.25,1364,36.32Z"/></g></svg>
</span>
{% endblock %}

<!-- BLOCK CONTENT -->
{% block content %}
<h1>HOME</h1>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

<h2>The last releases</h2>
<span class="post-container">
    {% if dbpost %}
        {% for p in dbpost %}
            <div>
                <a href="gallery?artwork={{ p[1].title }}">
                    <img src="{{ 'static/uploads/' + p[1].file_name + '_preview.png'}}" alt="{{ 'a picture of ' + p[1].title }}"><br>
                </a>
                Title: {{ p[1].title }}<br>
                {% set date = p[1].date|string %}
                Date: {{ date[6:8] }} {{ date[4:6] }} {{ date[0:4] }}<br>
                User: {{ p[1].user_name }}<br>
                post_type: {{ p[1].post_type }}
            </div>
        {% endfor %}
    {% else %}
        <b>there are no entries &#128531;</b>
    {% endif%}
</span>
{% endblock %}

<!-- BLOCK FOOTER-IMG -->
{% block footerBar %}
<span class="footer-bar">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1926 189"><defs><style>.cls-1{fill:#fafafa;}</style></defs><g id="Ebene_1" data-name="Ebene 1"><path class="cls-1" d="M562,152.68c343.5-37.57,468-99.17,812-99.17,297,0,501.65,73.93,552,94.12V0H0V152.68S218.5,190.25,562,152.68Z"/></g></svg>
</span>
{% endblock %}