{% extends "base.html" %}

<!-- BLOCK TITLE -->
{% block title %}
impressum
{% endblock %}

<!-- BLOCK KEYVISUAL -->
{% block keyvisual %}
<div class="keyvisual-bar">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1926 189"><defs><style>.cls-1{fill:#fafafa;}</style></defs><g id="Ebene_1" data-name="Ebene 1"><path class="cls-1" d="M1364,36.32c-343.5,37.57-468,99.17-812,99.17-297,0-501.65-73.93-552-94.12V189H1926V36.32S1707.5-1.25,1364,36.32Z"/></g></svg>
</div>
<div class="keyvisual-gradient">
</div>
{% endblock %}

<!-- BLOCK CONTENT -->
{% block content %}
content
{% endblock %}

<!-- BLOCK FOOTER-IMG -->
{% block footerBar %}
<span class="footer-bar">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1926 360"><defs><style>.cls-1{fill:#fafafa;}</style></defs><g id="Ebene_1" data-name="Ebene 1"><path id="Pfad_49" data-name="Pfad 49" class="cls-1" d="M0,108.08s195-26,747.11,174S1926,118.57,1926,118.57V0H0Z"/></g></svg>
</span>
<div class="keyvisual-gradient">
</div>
{% endblock %}