{% extends "base.html" %}

<!-- BLOCK TITLE -->
{% block title %}
SETTINGS
{% endblock %}

<!-- BLOCK KEYVISUAL -->
{% block keyvisual %}
<h1>SETTINGS</h1>
{% endblock %}

<!-- BLOCK CONTENT -->
{% block content %}
<h1>Add new Content </h1>
<form method="POST" enctype="multipart/form-data">
    <!-- x -->
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <!-- x -->
    <label for="thumbnailFile">thumbnail file:</label>
    <input type="file" id="thumbnailFile" name="thumbnailFile"><br>
    <!-- x -->
    <label for="workFile">work file:</label>
    <input type="file" id="workFile" name="workFile"><br>
    <!-- x -->
    <p>Choose your POST type</p>
    <input type="radio" id="logo" name="postType" value="logo">
    <label for="logo">Logo</label><br>
    <input type="radio" id="icon" name="postType" value="icon">
    <label for="icon">Icon/Illustration</label><br>
    <input type="radio" id="websites" name="postType" value="websites">
    <label for="websites">Websites</label><br>
    <input type="radio" id="dev" name="postType" value="dev">
    <label for="dev">Development</label><br>
    <!-- x -->
    <p>Description</p>
    <textarea name="description" id="description">
    </textarea><br>
    <!-- x -->
    <p>Date of creation</p>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date"><br>

    <div>
        <button type="submit">Add Content</button>
    </div>
</form>

<h1>Content List</h1>
<ul id="content-list">
    {% for post in user.post %}
        <li>
            <button type="button" class="close" onClick="deletePost({{ post.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ post.title }}
        </li>
    {% endfor %}
</ul>
{% endblock %}