{% extends "base.html" %}

<!-- BLOCK TITLE -->
{% block title %}
SETTINGS
{% endblock %}

<!-- BLOCK KEYVISUAL -->
{% block keyvisual %}
<h1>SETTINGS</h1>
{% endblock %}

<!-- BLOCK CONTENT -->
{% block content %}
<h1>Content List</h1>
<ul id="content-list">
    {% for post in user.post %}
        <li>
            <button type="button" class="close" onClick="deletePost({{ post.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ post.data }}
        </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="description" id="description">
    </textarea>
    <br>
    <div>
        <button type="submit">Add Content</button>
    </div>
</form>
{% endblock %}