@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* ------------- dropdown setting ------------- */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Opan Sans", sans-serif;
    background-color: #FAFAFA;
}

.dropbtn {
    border: none;
    cursor: pointer;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 10;
}

nav a {
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* ------------------- text setting ----------------------- */

nav {
    font-size: 12px;
    text-align: end;
}

h1 {
    color: #635F5F;
    text-align: center;
    margin: 0;
}

h2 {
    color: #635F5F;
    text-align: center;
    margin: 0;
}

footer .footer-text {
    text-align: center;
}

/* ----------------- keyvisual setting -------------------- */

.keyvisual-bar{
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.keyvisual-gradient{
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #278A3E, #37C559, #B9EEC6);
}

.footer-bar{
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ----------------- error setting -------------------- */
.error h1{
    font-size: 80px;
}

.error p{
    font-size: 20px;
    margin-top: 0;
}

/* -------------------- grid setting ---------------------- */
/* -------------------------------------------------------- */
/* MOBILE - 0-480px */
@media screen and (min-width:480px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
    }
    nav {
        z-index: 10;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .logo-nav {
        z-index: 10;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    header {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .content-container {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        background-color: #FAFAFA;      
    }

    .footer-img-block {
        grid-column: 1 / 3;
        grid-row: 4 / 6;     
    }

    footer {
        z-index: 10;
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }
}

/* -------------------------------------------------------- */
/* TABLET - 480-1024px
@media screen and (min-width:1024px) {

}
*/

/* -------------------------------------------------------- */
/*DESKTOP - 1024-1920px */
@media screen and (min-width:1920px) {
    .container {
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr 0.8fr 0.8fr 1fr;
        grid-template-rows: auto auto auto auto auto;
    }

    nav {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .logo-nav {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    header {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        height: 250px;
        position: relative;
    }

    .content-container {
        grid-column: 2 / 4;
        grid-row: 3 / 4;    
    }

    .footer-img-block {
        grid-column: 1 / 5;
        grid-row: 4 / 6;
        height: 750px;
        position: relative;
    }

    footer {
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }
}