.page_buttons_container{
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.page_button{
	text-decoration:none;
    padding:12px 14px;
    font-size:12px;
    border-radius: 50%;
    cursor:pointer;
    font-weight:bold;
    border: none;
    background-color: #FAFAFA;
}

.current_page_button{
    color:#ffffff;
    text-decoration:none;
    padding:12px 14px;
    font-size:12px;
	background-image: linear-gradient(315deg, #77f46b 0%, #39e12a 100%);
	border-radius: 50%;
	font-weight:bold;
    border: none;
}

.page_button:hover {
    color:#ffffff;
	background-image: linear-gradient(315deg, #77f46b 0%, #39e12a 100%);
}
.page_button:active {
	position:relative;
	top:1px;
}