.services-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
}

.services-container{
    color: #635F5F;
    text-align: center;
    width: 370px;
    margin: 0 auto;
}